<strong>Olá, {{ student }}</strong>
<p>Você efetuo o cancelamento de sua matrícula, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Duração: </strong> {{ duration }} <br />
  <strong>Preço: </strong> {{ price }} <br />
  <br />
  <small>
    Agradecemos a preferência.
  </small>
</p>
