<strong>Olá, {{ student }}</strong>
<p>Resposta de Auxilio da Academia Gympoint:</p><br />
<p>
  <strong>Data da solicitação: </strong> {{ date }} <br />
  <strong>Pergunta:</strong> {{ question }} <br />
  <strong>Resposta:</strong> {{ answer }} <br />
  <br />
  <strong>Bom treino ! :D</strong><br />
  <small>
    Agradecemos a preferência.
  </small>
</p>
